<main>
  <h1>Список сторінок</h1>
  <p class='mt-4'>Lorem, ipsum dolor sit amet consectetur
    adipisicing elit. Error quidem ipsum quaerat laborum rem
    eligendi delectus. Fugit placeat corrupti quidem
    pariatur dolor commodi, eius, quos quasi nam iste quod!
    Optio! Officia excepturi rem dolorem hic exercitationem
    ducimus porro commodi, temporibus repellendus dicta
    harum, eos consectetur quisquam aut dolorum provident.
    Voluptatibus amet id ab corporis voluptatem suscipit
    libero quo excepturi laudantium.</p>

  <div class='row p-4'>
    <div class='d-grid gap-3 col-2'>
      <a class='btn btn-primary' href='/summary'>Summary</a>
      <a class='btn btn-primary' href='/skills'>Skills</a>
      <a
        class='btn btn-primary'
        href='/education'
      >Education</a>
      <a class='btn btn-primary' href='/work'>Work</a>
    </div>

    <div class='d-grid gap-3 col-2'>
      <a class='btn btn-primary' href='/person'>Person</a>
      <a class='btn btn-primary' href='/bio'>Biography</a>
      <a class='btn btn-primary' href='/program'>Program</a>
      <a class='btn btn-primary' href='/web'>Web</a>
    </div>

    <div class='d-grid gap-3 col-2'>
      <a class='btn btn-primary' href='/js'>JavaScript</a>
      <a class='btn btn-primary' href='/task21'>Task21</a>
      <a class='btn btn-primary' href='/task22'>Task22</a>
      <a class='btn btn-primary' href='/task31'>Task31</a>
    </div>

    <div class='d-grid gap-3 col-2'>
      <a
        class='btn btn-primary'
        href='/shophome'
      >Shophome</a>
      <a
        class='btn btn-primary'
        href='/shopproduct'
      >Shopproduct</a>
      <a
        class='btn btn-primary'
        href='/shopnews'
      >Shopnews</a>
      <a
        class='btn btn-primary'
        href='/shoporder'
      >Shoporder</a>
    </div>

    <div class='d-grid gap-3 col-2'>
      <a
        class='btn btn-primary'
        href='/shopcart'
      >Shopcart</a>
      <a
        class='btn btn-primary'
        href='/shopprofile'
      >Shopprofile</a>
      <a
        class='btn btn-primary'
        href='/shopreview'
      >Shopreview</a>
      <a
        class='btn btn-primary'
        href='/shopcatalog'
      >Shopcatalog</a>

    </div>
  </div>
</main>