<nav>
    {{> link href="/skills" text="Skills" divider=true }}
    {{> link href="/summary" text="Summary" divider=true }}
    {{> link href="/education" text="Education" divider=true }}
    {{> link href="/work" text="Work" }}
</nav>